<script>
  import Nav from '../components/Nav.svelte'
  import Footer from '../components/Footer.svelte'
  export let segment
</script>

<header>
  <hgroup>
    <h1 class="serif">
      <a href=".">meerific</a>
    </h1>
  </hgroup>
  <Nav {segment} />
</header>

<main id={segment}>
  <slot></slot>
</main>

<footer>
  <Footer />
</footer>

<style>
  main {
    padding: 1rem;
    position: relative;
    max-width: 64rem;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
    margin: 0;
  }

  h1 a {
    transition: .3s ease;
    color: var(--fg);
  }

  h1 a:hover {
    color: var(--link);
  }

  header {
    padding: 1rem;
    margin: 0.5rem auto;
    max-width: 64rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer {
    max-width: 64rem;
    margin: 3rem auto;
    padding: 1rem;
  }

  @media screen and (min-width: 36rem) {
    hgroup {
      margin-left: 3rem;
    }
  }
</style>
