<script>
  import Image from "../components/Image.svelte"
</script>
<svelte:head>
  <title>About meerific</title>
</svelte:head>

<section class="derek hero">
  <h1>Hi! I'm Derek, and I invented <span class="serif highlight">meerific</span>.</h1>
</section>

<hr />
<section class="defs">
  <dl>
    <dt>
      <h1 class="serif">mirific</h1>
      <div>
        <span>/ˌmʌɪˈrɪfɪk/</span>
        <span class="type">adj.</span>
      </div>
    </dt>
    <dd>
      That works wonders; marvellous
    </dd>
    <dt class="highlight">
      <h1 class="serif">meerific</h1>
      <div>
        <span>/ˌmiːˈrɪfɪk/</span>
        <span class="type">adj.</span>
      </div>
    </dt>
    <dd class="highlight">
      Not quite mirific, but trying very hard to get there
    </dd>
  </dl>
</section>

<hr />

<section id="me" class="derek">
  <div>
    <p>
    My goal is to be as <span class="highlight">meerific</span> as I can; I
    enjoy the process of learning, improving my skills, and maybe even working
    wonders someday.
    </p>
    <p>
    Right now, I'm learning about distributed, high-reliability systems &mdash;
    along with market inefficiencies &mdash; through my current company,
    <a href="https://alphahub.us" target="_blank" rel="noopener">AlphaHub</a>,
    where I serve as its Technical Director.
    </p>
  </div>
  <Image source="me" alt="my smiling face on a beach" />
  <p>
    In the past, I've learned about building intuitive and
    pleasant user interfaces through my work on
    <a href="https://baduk.club" target="_blank" rel="noopener">BadukClub</a>.
    You can read about my experience working on it <a href="/posts/cofounder-or-contractor">here</a>.
  </p>
  <Image source="baduk-club-logotype" alt="BadukClub logotype" />
  <p class="no-graphic">
  Before that, I learned that I didn't like working in an office
  from <a href="https://microsoft.com" target="_blank" rel="noopener">a small tech company</a> in Redmond, Washington.
  </p>
  <div class="no-graphic">
    <p>
    Honestly, I probably won't post here that much. I only want to post content I
    think is good. If I go out and take a bunch of photos I don't think are good,
    I probably won't post them.
    </p>
    <p>
    That being said, mistakes and bad days are an essential part of life. I
    don't want to put up a facade and pretend everything I do is perfect. I
    plan to post more free-form content, whether that be decent photos
    without a place in the gallery, short notes I take when learning something,
    or other content in a similar vein, elsewhere on the site. If you're
    interested in that, let me know and I'll get to work on it sooner!
    </p>
  </div>
</section>

<style>
  .derek h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.25;
    font-weight: 600;
  }

  .derek p {
    line-height: 1.5;
  }

  .highlight {
    color: var(--link);
  }

  dl {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    flex-direction: column;
    justify-items: start;
  }

  dt h1 {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 0;
    font-weight: 400;
  }

  dt div {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  dd {
    justify-self: start;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  a {
    border-bottom: 2px solid;
    padding-bottom: 0;
    transition: .225s ease;
  }

  a:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
  }

  #me {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }

  @media screen and (min-width: 36rem) {

    hr {
      margin: 3rem;
    }

    #me {
      grid-template-columns: 1fr 240px;
      column-gap: 2rem;
      row-gap: 3rem;
    }

    #me .no-graphic {
      grid-column: 1 / 3;
    }

    .hero {
      margin-top: 12rem;
      margin-bottom: 12rem;
    }

    .derek {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .derek h1 {
      font-size: 4rem;
      margin-bottom: 3rem;
      font-weight: 700;
    }

    .derek p {
      font-size: 1.5rem;
      margin: 0;
    }

    .derek div p {
      margin: 0 0 3rem;
    }

    #me p:last-child {
      margin-bottom: 0;
    }


    dl {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
      row-gap: 2rem;
      justify-items: end;
    }
  }

  @media screen and (min-width: 64rem) {
    #me {
      grid-template-columns: 1fr 320px;
    }

    section {
      margin: 0 3rem;
    }

    dl {
      column-gap: 2.5rem;
      row-gap: 6rem;
    }

    dt {
      display: flex;
      flex-direction: column;
    }

    dt h1 {
      font-size: 7rem;
    }

    dt div {
      font-size: 2.5rem;
    }

    dt div span:last-child {
      font-weight: 200;
      font-style: italic;
    }

    dd {
      font-size: 2.5rem;
    }
  }
</style>
