<script>
  import Image from "../components/Image.svelte"
  import PostList from "../components/PostList.svelte"
</script>

<svelte:head>
  <title>meerific</title>
</svelte:head>

<section>
  <h1>
    <span>Welcome to</span>
    <a class="serif" href="/about">meerific</a>
    <span>.</span>
  </h1>
  <p>
    I'm not a meer-acle worker, but I try my best!
  </p>
</section>

<section class="posts">
  <PostList />
</section>

<style>

  section h1 {
    margin-top: 1.5rem;
    font-size: 1.75rem;
    font-weight: 600;
  }

  section h1 span:last-child {
    margin-left: -0.25rem;
  }

  section p {
    margin: 2rem 0;
    font-size: 1.25rem;
  }
  @media screen and (min-width: 36rem) {
    section {
      margin: 0 3rem;
    }

    section h1 span:last-child {
      margin-left: -0.5rem;
    }

    section h1 {
      margin-top: 3rem;
      font-size: 3rem;
    }

    section p {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }

</style>
