<script>
  // import PostList from "../components/PostList.svelte"
</script>

<svelte:head>
  <title>Posts &mdash; meerific</title>
</svelte:head>

<div>
  <!--<PostList />-->
  <p>Coming soon!</p>
</div>

<style>
  div { margin: 0 3rem; }
  p {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0.75;
    margin: 5rem 0;
  }
</style>

