<svelte:head>
  <title>Cofounder or Contractor? &mdash; meerific</title>
</svelte:head>

<section class="introduction">
  <h1 class="serif title">Co-founder or Contractor?</h1>

  <p>
  When someone asks you to start a project with thme, and it seems reasonably
  interesting, ask yourself: "Should I approach this as a contractor or a
  co-founder?" I wish I had asked it myself at the beginning of my work on
  BadukClub.
  </p>

  <label class="timestamp">
    Last updated
    <span>19 Jun, 2020</span>
  </label>
</section>

<hr />


<p>
BadukClub is a project I worked on with Devin, a friend of mine. When
he originally pitched the idea to me, he told me that I should
co-found a company with him around the idea. Should I have done it?
</p>

<h2>The Decision</h2>

<p>
Here are some important points to think about when considering the
question of Co-founding a Company or building a contract around it.
</p>

<ol>
  <li>
    <strong>Do I have experience in the subject area?</strong>
    <p>
    If you have experience in the area in which the proposed company deals
    with, you have insight into how it should be built properly. You'll
    also have more intrinsic motivation to work on it for a long period of
    time.
    </p>
    <p>
    In the above example, the subject matter was **in-person Go meetups.**
    I've played Go once. I've never been to a Go meetup. So in my case the
    answer was <strong>No</strong>.
    </p>
  </li>
  <li>
    <strong>Do I care enough about the subject area to learn everything about it?</strong>
    <p>
    If you don't have experience with the subject matter, you can always
    just learn about it if it's interesting enough to you. That allows you
    to quickly gain the experience necessary to build a good product.
    </p>
    <p>
    I have no interest in Go, as I've only played once and have rejected
    numerous opportunities to play it again. So the answer to this
    question is also <strong>No</strong>.
    </p>
  </li>
  <li>
    <strong>How long can I continuously work on this project for free?</strong>
    <p>
    Everyone has a limited store of willpower and patience. Even if you
    answered "No" to the first two questions, I'd like to think you can
    make up for the lack of intrinsic motivation &mdash; interest and/or
    experience &mdash; with sheer willpower and a much larger source of
    extrinsic motivation &mdash; that is, monetary incentive. You really
    need to ask yourself how long your willpower will last before you need
    to get paid.
    </p>
    <p>
    The other important part of the equation is how much you
    need to get paid to overcome the lack of intrinsic motivation. We'll
    call the time <code>X</code> and the monetary incentive
    <code>Y</code>.  If you don't think the project can make
    <code>Y</code> after <code>X</code>
    months, you should treat it as a contract.
    </p>
    <p>
    For me, <code>X</code> is 6 months and <code>Y</code> is $2500 per month. I did not really
    do the research necessary to answer this question for BadukClub. If I
    did, I would have learned about the bureaucratic nature of national Go
    organizations, which we would be asking for funding. The answer to
    this question, even if we started fundraising from the beginning,
    would probably be <strong>No</strong>.
    </p>
  </li>
</ol>

<hr />

<p>So, personally, I have three <strong>No</strong> answers for BadukClub, and as a
result, should have treated it as a contract. I really should have set
expectations accordingly. I should have set up a payment schedule,
established clear goals and milestones, executed on those, and called
it a day.</p>

<p>Of course, I did not do this. What happens if you choose incorrectly?</p>

<p>I ended up stopping work on the project in December 2019. At the time,
the application we had was decent. It worked very well, was highly
performant, and featured a map with all the Go clubs and users. It
didn't look too bade either. You can check it out at
<a href="https://baduk.club" target="blank" rel="noopener">https://baduk.club</a>.</p>

<p>Unfortunately, it was missing a bunch of features that Devin wanted to
implement. Since he doesn't really know how to code himself, he
decided to use a no-code solution to re-implement the entire app, plus
all the features he wanted. I don't really blame him for it, because
it lets him be productive and build the tools that an
intrinsically-motivated founder should.
</p>

<hr />

<p>I guess the moral here is to ask yourself from the very beginning if
you want to be a co-founder or a contractor. Ask yourself the
questions here. Have those discussions. Set expectations and
timelines. It will save you a lot of trouble and time in the long run.</p>
