<article class="post">
  <slot></slot>
</article>

<style>
  .post {
    margin: 0 3rem;
    font-size: 1.5rem;
    max-width: 50rem;
  }

  .post :global(.timestamp) {
    font-size: 0.875rem;
    opacity: 0.8;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--link);
  }

  .post :global(.introduction) {
    margin-top: 4rem;
  }

  .post :global(.title) {
    font-size: 3rem;
  }

  .post :global(ol) {
    margin-left: -1.5rem;
    padding-left: 0;
  }

  .post :global(ol li) {
    padding-left: 1.5rem;
  }

  .post :global(p) {
    line-height: 1.5;
  }

  .post :global(p + p) {
    margin-top: 2rem;
  }

  .post :global(hr) {
    margin: 3rem 0;
  }

  .post :global(code) {
    background: var(--light);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }

  .post :global(a) {
    border-bottom: 2px solid;
    padding-bottom: 0;
    transition: .225s ease;
  }

  .post :global(a:hover) {
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
  }
</style>
