<hr />

<div>
  <span>Meerific is owned by me, Derek Meer.</span>
  <span>I've been here since 2020. Yep, this year!</span>
  <span>
    Feel free to reach out and talk about whatever: <a href="mailto:derek@meerific.com" target="_blank" rel="noopener">derek@meerific.com</a>
  </span>
</div>

<style>
  hr {
    margin: 1.5rem 0 3rem;
  }

  div {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    margin: 3rem 0;
  }

  @media screen and (min-width: 36rem) {
    hr {
      margin: 1.5rem 3rem 3rem;
    }
    div {
      margin: 3rem 3rem 0;
    }
  }
</style>
