<script>
  export let source, alt

  //const sizes = [1024, 768, 640]

  const src = name => `https://cdn.meerific.com/${name}.webp`
  /*const srcset = name =>
    sizes
      .map(width => src(`${name}_w${width}`) + ` ${width}w`)
      .join(", ")*/

</script>

<img src={src(source)} {alt} loading="lazy" />

<style>
  img {
    width: 100%;
    border-radius: 0.5rem;
  }
</style>
