<script>
  export let segment
</script>

<nav>
  <a href="/about" class:selected={segment === "about"}>
    about
  </a>
  <a href="/posts" class:selected={segment === "posts"}>
    posts
  </a>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    font-size: 1.125rem;
    color: var(--fg);
    font-weight: 500;
    margin-right: 1.5rem;
    transition: .225s ease;
    position: relative;
  }

  nav a.selected,
  nav a:hover {
    color: var(--link);
  }

  nav a:last-child {
    margin-right: 0;
  }

  nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: .225s ease-in;
    background-color: var(--link);
  }

  nav a.selected::before,
  nav a:hover::before {
    width: 100%;
  }

  @media screen and (min-width: 36rem) {
    nav {
      margin-right: 3rem;
    }

    nav a {
      margin-right: 3rem;
    }
  }
</style>
