<script>
  let posts = [
    /*{
      title: "Co-founder or Contractor?",
      description: "The right questions to ask yourself when you agree to work on someone else's project.",
      timestamp: "2020-06-19T23:24:40.900Z",
      path: "cofounder-or-contractor"
    },*/
    /*{
      title: "How I process my photos",
      description: "Camera photos ⇒ good web images",
      timestamp: "2020-06-18T05:10:21.900Z",
      path: "photo-processing"
    },*/
  ]

  let timeOptions = {
    year: "numeric",
    month: "short",
    day: "2-digit"
  }

  const formatTimestamp = timestamp =>
    new Date(timestamp).toLocaleDateString([], timeOptions)

  posts.sort(({timestamp: t1}, {timestamp: t2}) => new Date(t1) < new Date(t2))

</script>

<ul>
  {#each posts as { title, timestamp, path, description }}
  <li>
    <a href="/posts/{path}" class="post">
      <h1 class="serif">{title}</h1>
      <p>{description}</p>
      <label>
        Last updated
        <span>{formatTimestamp(timestamp)}</span>
      </label>
    </a>
  </li>
  {/each}
</ul>

<style>
  ul {
    margin: 3rem 0;
    list-style: none;
    padding: 0;
  }

  ul li {
    border-top: 1px solid var(--light);
    transition: 0.2s;
  }
  ul li:last-child { border-bottom: 1px solid var(--light); }
  ul li:hover { border-color: transparent; }

  .post {
    padding: 2rem 0;
    position: relative;
    display: block;
    transition: border 0.225s ease;
  }

  .post:before {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100vw;
    content: '';
    left: calc(-50vw + 50%);
    z-index: -1;
    transition: 0.225s ease;
  }

  .post:hover:before {
    background: #fff;
    box-shadow: -12px -4px 32px #fff, 12px 4px 32px rgba(134, 157, 191, 0.48);
  }

  a, a:visited {
    color: inherit;
  }

  h1 {
    margin-top: 0;
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }

  label {
    font-size: 0.875rem;
    opacity: 0.8;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--link);
  }
</style>
