:root {
  --bg: #f9f9fa;
  --fg: #0b0c10;
  --link: #5433ff;
  --light: #e2e8f0;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

hr {
  border: none;
  height: 1px;
  background: var(--light);
}

a, a:visited {
  color: var(--link);
}
