@import url("https://rsms.me/css/inter.css");
@import url("https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css");
@import url("baskerville.css");

html {
  font-family: "Inter",-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var",-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
}

.serif {
  font-family: "Libre Baskerville",georgia,times,serif;
}

code, .mono {
  font-family: "Hack",Consolas,monaco,monospace;
}
